
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #FFFFFF;
    color: #000000;
}
.font-serif {
    font-family: 'Playfair Display', serif;
}
.font-cinzel {
    font-family: 'Cinzel', serif;
}
::-webkit-scrollbar {
    width: 4px;
}
::-webkit-scrollbar-track {
    background: #f8f8f8;
}
::-webkit-scrollbar-thumb {
    background: #000;
    border-radius: 0;
}
.luxury-hover {
    transition: all 0.6s cubic-bezier(0.16, 1, 0.3, 1);
}
.luxury-hover:hover {
    transform: scale(1.015);
}
.text-justify-center {
  text-align: justify;
  text-align-last: center;
}
#collections, #order, #footer {
    scroll-margin-top: 100px;
}
.hairline-border {
    border-width: 0.5px;
}
